<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<div class="center hero-unit">
    <strong>Mobile Cloud</strong> is a cloud based data management tool that helps you create dynamic forms on any Mobile device like iPhone, iPad or Android. You could pick and choose to create a dynamic form that has text fields, multi choice fields including bar code scanning buttons in your form. Any kind of data push to Mobile devices or data submission back to the cloud is made easy and simple. This tool is a great fit if you have field staff working for you that gets tasks assigned on a regular basis and update statuses back to you when the tasks are accomplished. </p>  
</div>