<% provide(:title, 'Help') %>
<h1>Help</h1>
<h2> Getting Started </h2>
<div class="center hero-unit">  
1) Sign up and Configure your Mobile forms ( Define your field names and types of field or scan buttons etc) </br>
2) Generate a template of spreadsheet and load all your field staff information including their iPhone UUID and phone numbers</br>
3) Generate a template of Data spreadsheet that your want to push and receive from mobile devices</br>
4) Load all the data into the Mobile Cloud</br>
  </br>MeanWhile Checkout my BLOG <a href="http://techminer.tumblr.com" target="_blank">TechMine</a>.
</div>