<div class="container">
  <h1 class="text-info" id="heading">Mobile Cloud Service</h1>
  <%= image_tag("homepage1.png") %>
  <h2 class="homeControls"> Already a Registered User ? <%= link_to "Sign In now!", signin_path, class: "btn btn-lg btn-primary" %> | Or use
  <%= link_to "Facebook", "/auth/facebook", id: "sign_in", class: "btn btn-lg btn-primary"%> to Signin Directly </h2>
</div>