<div class="container">
  <h1>Mobile Cloud Service</h1>
  <%= image_tag("home2.png") %>
  <p class="homeControls"> New User ? <%= link_to "Sign Up now!", signup_path, class: "btn btn-large btn-primary" %> | Or use
  <%= link_to "Facebook", "/auth/facebook", id: "sign_in", class: "btn btn-large btn-primary"%> to Signin Directly </p>
</div>
