<h1>Tasks<span class="icon-list"></span></h1>

<table class="table table-hover table-responsive">
  <thead>
  <tr>
    <th>Assigned To <span class="icon-user"></span></th>
  </tr>
  </thead>

  <tbody>
  <% @tasks.each do |task| %>
      <tr class="info">
        <% @doc = User.find_by _id: task.assignTo %>
        <% parsed_String= JSON.parse(@doc.to_json) %>
        <td><%= parsed_String["fname"] + "\t"+ parsed_String["lname"] %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to "Assign Task", task_path, class: "btn btn-lg btn-primary" %>
<%= link_to "Cancel", users_path, class: "btn btn-lg btn-primary" %>
