<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>
<div class="row">
  <div class="span6 offset6">
    <%= form_for(@user) do |f| %> <!--form_for helper takes a block with one variable. |f| for form-->
    <!-- Rails creates form tag using @user; Rails figures that @user is of Class User; Rails knows to construct  form with POST method-->
      <%= render 'fields', f: f %>
      <%= f.submit "Create my account", class: "btn btn-lg btn-primary" %>
    <% end %>
  </div>
</div>