<% provide(:title, 'Add Dyno') %>
<h1 class="text-primary">[ Add Fields<span class="text-muted"> to your Dyno</span> ]<h2>Its that easy.</h2></h1>
<div id="tbError" hidden="hidden"></div>
<div id="comboError" hidden="hidden"></div>
<div id="uploadError" hidden="hidden"></div>

<div class="container center">
  <div class="col-md-offset-2">

    <div class="col-md-2 panel panel-default" style="background-color: #CCCCCC">
      <h1 class="text-info">TextBox</h1>
      <label>Text Box Name </label> <input type="text" id="ip1" value=""> <br>Eg: Customer Name
      <button type="button" class="btn btn-info btn-lg btn-block" id="textbox" onclick="addTextBox()">Add</button>
      <br>
    </div>

    <div class="col-md-2 panel panel-default" style="background-color: #DDDDDD">
      <h1 class="text-success">Dropdown</h1>
      <label>Drop Down Name </label> <input type="text" id="ip2" value=""><br>
      <label>Enter Option </label> <input type="text" id="opt" value="">
      <button type="button" class="btn btn-success btn-lg btn-block" id="dropdown" onclick="addComboBox()">Add</button>
      <br>
    </div>

    <div class="col-md-2 panel panel-default" style="background-color: #CCCCCC">
      <h1 class="text-info">Upload</h1>
      <label>File Upload Name </label> <input type="text" id="ip3" value=""> <br>Eg: Profile Picture
      <button type="button" class="btn btn-info btn-lg btn-block" id="photoupload" onclick="addUploadField()">Add</button>
      <br>
    </div>

    <div class="col-md-2 panel panel-default" style="background-color: #DDDDDD">
      <h1 class="text-warning">Payment</h1>
      <label>Payment Widget (Stripe) </label>
      <!--<input type="text" id="ip4" value=""> <br>Eg: Pay-->
      <button type="button" class="btn btn-warning btn-lg btn-block" id="payment" onclick="addPaymentOption()">Add</button>
      <br>
    </div>

    <div class="col-md-2 panel panel-default" style="background-color: #CCCCCC">
      <h1 class="text-info">Date</h1>
      <label>Date Field Name </label> <input type="text" id="ip5" value=""> <br>Eg: Work Start Date
      <button type="button" class="btn btn-info btn-lg btn-block" id="date" onclick="addDateField()">Add</button>
      <br>
    </div>

  </div>
</div>

<h1 class="text-success" id="hideText" hidden="hidden"><hr>Your Dyno</h1>
<div id="addtoContainer1" class="container center">
<div id="addtoContainer" class="col-lg-6 col-md-offset-3 panel panel-primary" hidden="hidden"><br>
</div>
</div>

<div class="center">
  <%= form_for TaskField.new do |f| %>
      <!-- <%= render 'taskfields', f: f %> -->
      <div class="panel panel-default" hidden="hidden" id="savepanel">
        <%= f.submit "Save Dyno", class: "btn btn-lg btn-primary" %>
        <%= link_to "Cancel", task_fields_path, class: "btn btn-lg btn-primary" %>
      </div>
  <% end %>
</div>