/* universal */
html {
    overflow-y: scroll;
}

body {
    padding-top: 60px;
    padding-bottom: 20px;
}

section {
    overflow: auto;
}

textarea {
    resize: vertical;
}

.center {
    text-align: center;
}

.center h1 {
    margin-bottom: 10px;
}

/* typography */
h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}

h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
}

h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: #999;
}

h3{
    text-align: center;
}

p {
    font-size: 1.1em;
    line-height: 1.7em;
}

/* Panel */
#panelbd {
    background-color: #285e8e;
}

.container {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.homeControls {
    font-weight: 900;
    text-align: center;
    padding-top: 20px;
}

#logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    padding-left: 200px;
    font-weight: bold;
    line-height: 1;
}
#logo:hover {
    color: #ccc;
    text-decoration: none;
}

/* footer */

.foot {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #999;}
a {
    color: #555;}
/*&:hover {*/
    /*color: #222;*/
/*}*/
small {
    float: left;
    padding-left: 10px;
}
#footerul {
    float: right;
    padding-right: 10px;
    list-style: none;}
#footerli {
    float: left;
    margin-left: 10px;
}

#heading {
    font-family: fantasy;
    padding-top: 0px;
}

.debug_dump {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 45px;
/*@include box_sizing;*/
}

#jumbobg {
    background-image: url("about/formfill6.png");
    background-repeat: no-repeat;
}
/* Colors */
.color {
    color : darkorange;
}

/* forms */
input, textarea, select, .uneditable-input {
    border: solid #adadad 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    /*-moz-box-sizing: border-box;*/
    -webkit-box-sizing: border-box;
    /*box-sizing: border-box;*/
    height: auto !important;
    margin-bottom: 15px;
}

label {
    font-family: "Helvetica Neue", "Arial", sans-serif;
    font-weight: normal;
    font-size: inherit;
}

#addtoContainer {
    background-color: #5e5e5e;
    /*text-align: center;*/
    /*background-image: url("ipad.png");*/
    /*background-repeat: no-repeat;*/
    /*background-position: 100px;*/
}

ul {
align-items: center;
}