<footer class="foot">
  <small>
    <strong>&copy; StarpathIT 2014</strong>
    <br>Created by Lalith Kumar K V N
  </small>
  <nav>
    <ul id="footerul">
      <li id="footerli"><%= link_to "About", about_path %></li>
      <li id="footerli"><%= link_to "Contact", contact_path %></li>
      <li id="footerli">Visit <a href="http://starpathit.com" target="_blank"> Starpath</a> Website</li>
    </ul>
  </nav>
</footer>